@CHARSET "UTF-8";

#top{
	margin-bottom: 0px;
	padding-bottom: 0px;
}


#middle{
	margin-top: 0px;
	padding-top: 0px;
	height: 510px;
	background-color: #696969;
	padding-left: 200px;
	padding-right: 200px;
}

#black{
	color: #696969;	
}

#login_panel{
	margin: 60px 200px 200px 200px;
	
	
}

#login_form{
	padding: 30px 150px 50px 60px ;	
	z-index: 100;
}



body { padding-bottom: 70px; }