@CHARSET "UTF-8";

#myMessage{
	margin: 50px 260px 0px 260px;
	width: 600px;
}






nav ul{
	color: rgb(51, 51, 51);
	display: block;
	box-sizing: border-box;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-right: 10px;
	padding-right: 30px;
}
nav ul a{
	/*background-color: rgb(0, 0, 0);*/
	color: rgb(153, 153, 153);
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	text-decoration: none;
	text-decoration-color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 20px;
	list-style-type: none;
	outline-style: none;
}

#logo{
	padding-left: 50px;
}


/*a:link{color: rgb(0,0,0);}*/	/*未访问的链接*/
/*a:visited{color: rgb(0,0,0);}*/ /*已访问的链接*/
/*a:hover{color: rgb(0, 0, 0);} *//*鼠标移动到链接上*/
/*a:active{color: rgb(0,0,0);} *//*选定的链接*/

#left-tab{
	margin-top: 50px;
	
}
#left-nav{
	height:720px;
	background-color: rgb(34, 34, 34);
}
#left-nav a:link{
	color: #ffffff;
	background-color: rgb(34, 34, 34);
	border-left-color: rgb(34, 34, 34);
	border-right-color: rgb(34, 34, 34);
	border-top-color: rgb(34, 34, 34);
	border-bottom-color: rgb(34, 34, 34);
}
#left-nav a:visited{
	color: #ffffff;
	background-color: rgb(8, 8, 8);
	border-left-color: rgb(34, 34, 34);
	border-right-color: rgb(34, 34, 34);
	border-top-color: rgb(34, 34, 34);
	border-bottom-color: rgb(34, 34, 34);
}
#left-nav a:hover{
	color: #ffffff;
	background-color: rgb(8, 8, 8);
	border-left-color: rgb(34, 34, 34);
	border-right-color: rgb(34, 34, 34);
	border-top-color: rgb(34, 34, 34);
	border-bottom-color: rgb(34, 34, 34);
}
#left-nav a:active{
	color: #ffffff;
	background-color: rgb(8, 8, 8);
	border-left-color: rgb(34, 34, 34);
	border-right-color: rgb(34, 34, 34);
	border-top-color: rgb(34, 34, 34);
	border-bottom-color: rgb(34, 34, 34);
}


#shopping-list{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#shopping-table{
	padding-top: 0px;
	margin-top: 0px;
}

