@CHARSET "UTF-8";
body{
	padding-top: 70px;
	padding-left: 100px;
	padding-right: 100px;
}
#top{
	margin-left: 80px;
	margin-right: 80px; 
}
#name{
	margin-top: 15px;
}
#logo{
	
	width: 250px;
	height: 35px;
	margin-top: 0px;
	padding-top: 0px;
}