<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>修改商品</title>
<link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- <link rel = "stylesheet" href="@{/css/view/back_personalCenter.css}"> -->
</head>
<body>
	<div>	<!--面包屑导航-->
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="tab-pane-shoesManage.html">商品管理</a></li>
			<li class="active">修改类型</li>
		</ol>
	</div>
	<div class="panel panel-primary" style="margin: 40px 700px 50px 300px; "  >
	   <div class="panel-heading">修改类型</div>
	   <div class="panel-body" style="padding: 30px 50px 30px 30px;">
	    	<form class="form-horizontal" role="form" action="back_updateSpecies_j">
	    	<s:iterator value="speciesList" var="species">
				<div class="form-group" >
					<label for="speciesId" class="col-sm-5 control-label">种类编号</label>
					<div class="col-sm-5">
						<label><span class="form-control" th:text="${species.speciesId}"></span></label>
						<input type="hidden" class="form-control" id="speciesId" th:value="${species.speciesId}" name="species.speciesId" >
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label for="designation" class="col-sm-5 control-label">种类名称</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="designation" th:value="${species.designation}" name="species.designation" >
					</div>
					<div class="col-sm-3"></div>
				</div>
				<div class="form-group" style="margin-top:50px;">
					<div class="col-sm-6"></div>
					<div class="col-sm-2">
						<button type="submit" id="btn_update" class="btn btn-danger">修改</button>
					</div>
					<div class="col-sm-2">
						<button  class="btn btn-warning">取消</button>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</s:iterator>
			</form>
	   </div>
	</div> 
	
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$("#btn_update").click(function(){
			
// 			window.location.href="back_updateInventory_j";
		});
	</script>
	<script type="text/javascript">
		
		//标签页的切换
		$('#two-tabs a').on('click',function(e){
			//阻止默认行为
			e.preventDefault();
			$(this).tab('show');
		});
	</script>
	
</body>
</html>