<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>主页顶部</title>
<link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel = "stylesheet" th:href="@{/css/view/index.css}">

<!-- 前端非阻塞插件toastr -->
<link rel = "stylesheet" th:href="@{/css/toastr.css}">
<link rel = "stylesheet" th:href="@{/css/toastr.min.css}">

<!-- 设置验证码的样式 -->
<!-- <link rel = "stylesheet" href="@{/css/view/index_top.css}"> -->
<!-- 对登录表单的前端输入校验，还有验证码的校验 -->
<%-- <script type="text/javascript" th:src="@{/js/loginForm.js}"></script> --%>
<!-- 前端js验证用户名、密码，后台检查验证码 -->
<script type="text/javascript" th:src="@{/js/checkLogin.js}"></script>
</head>
<body>
	
	<!-- 显示登录失败的信息 -->
	<div th:if="errorMsg != null">
		<script type="text/javascript">
			var msg = "${errorMsg}";
			alert(msg);
		</script>
	</div>

	<!-- 顶部 -->
	<nav id="top" class="navbar navbar-default navbar-static-top">
		<div class="container" >
			<div class="navbar-header">
				<a href="#"><span id="shopping_cart" class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;购物车</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<!--<c:choose>-->
<!--<%&#45;&#45; 					<c:when test="${regularMember.name == null}"> &#45;&#45;%>-->
					<!--<c:when test="${successMsg == null}">-->
					<!---->
						<!--&lt;!&ndash; 顶部未登录 &ndash;&gt;-->
						<!--<li><a href="#"><h4><span id="login" class="label label-success ">登录</span></h4></a></li>-->
						<!--<li><a href="register.html"><h4><span id="regist" class="label label-info ">注册</span></h4></a></li>-->
					<!---->
					<!--</c:when>-->
					<!--<c:otherwise>-->
						<!--&lt;!&ndash; 顶部已登录 &ndash;&gt;-->
						<!--<li><a href="#"><h4><span id="regularMemberName" class="label label-primary">${sessionScope.name}</span></h4></a></li>-->
					<!--</c:otherwise>-->
				<!--</c:choose>-->
				<!---->
				
			</ul>
			
		</div>
	</nav>
	<!-- 模态框声明 -->
	<div class="modal fade" id="myModal" tabindex="-1">
		<!-- 窗口声明 -->
		<div class="modal-dialog">
			<!-- 内容声明 -->
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title"><strong>会员登陆</strong></h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
<!-- 							<form name="" onsubmit="return submitForm(this)" class= "form-horizontal" action="login" method="post" namespace="/"> -->
							<form id="loginForm" name="loginForm" onsubmit="return submitForm(this)" class= "form-horizontal" action="checkImage.jsp" method="post" namespace="/">
								<div class="form-group">
									<label class="col-md-3 control-label">用户名</label>
									<div class="col-md-6">
										<input type="text" name="name" class="form-control" placeholder="请输入您的用户名"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">密　码</label>
									<div class="col-md-6">
										<input type="password" name="pwd" class="form-control" placeholder="请输入您的密码"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">验证码</label>
									<div class="col-md-6">
										<input type="text" name="inputCode" class="form-control" placeholder="请输入验证码"/>
<!-- 										<input type="button" id="code" onclick="createCode()"/> -->
										<img id="image" border="0" onclick="refresh()" src="image.jsp" title="点击更换图片"/>
									</div>
								</div>
								<div class="modal-footer">
									<input type="submit" class="btn btn-primary" value="登录"/>
<!-- 									<button class="btn btn-primary" type="button">登录</button> -->
									<button class="btn btn-warning " data-dismiss="modal">取消</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>	
	

	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<!-- 前端非阻塞插件 -->
	<script type="text/javascript" th:src="@{/js/toastr.js}"></script>
	<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
	
	<script type="text/javascript">
		$('#myCarousel').carousel({
			//设置自动播放/1.5秒
			interval: 1500,
		});
		
// 		$('#regist').on('click', function(){
// 			$('#myModal').modal('show');
// 		});
		
		//对登录按钮使用模态框组件
		$('#login').on('click', function(){
			$('#myModal').modal('show');
		});
		$('#myModal').modal({
			show : false,
			backdrop: 'static'
		});
// 		$('#myModal').modal({
// 			show : false,
// 			remote : 'content.html'
// 		});

	</script>
</body>
</html>