<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>后台主页面</title>
<link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel = "stylesheet" th:href="@{/css/view/back.css}">
</head>
<body>
	<!--欢迎页，巨幕-->
	<div class="jumbotron" style="margin-top:40px;">
		<div style="margin-left:80px;">
			<h1>你好，管理员!</h1>
			<p>你可以在左侧的导航栏选择某个功能模块，完成相应的操作。</p>	
		</div>
	</div>
	

	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>